<launch>
   <include file="$(find rplidar_ros)/launch/rplidar.launch" />
   <node name="arduino" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
      <rosparam file="$(find ros_arduino_python)/config/my_arduino_params.yaml" command="load" />
   </node>
   <!--<node pkg="tf" type="static_transform_publisher" name="laser_tf" 
        args="0 -0.07 0.4 0 0 0 1 base_link laser 100" />
   <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" />-->
</launch>
